.background-logo {
  width: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 1;
}

/* Responsive: Small Screen styles*/

@media only screen and (max-width: 1024px) {
  .Logo {
    width: 30%;
  }
}

/* Responsive: Mobile styles*/

@media only screen and (max-width: 480px) {
  .Logo {
    width: 60%;
  }
}

.Home-Body {
  position: relative;
  top: 50%;
  translate: 0% -50%;
  z-index: 2;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 67px;
}

/*.Home-Body > div {*/
/*border: 1px solid black;*/
/*}*/

.Home-Info {
  animation: 2s 1 normal show;
}

.Home-Info > h3 {
  margin: 30px 0 30px 0;
}

/* Image */
.svg {
  overflow: visible;
}

#Background {
  /*display: none;*/
}

#Window {
  position: fixed;
  animation: 2s 1 normal tp;
  z-index: 3;
}

#Silla {
  display: none;
}

#Man {
  display: none;
}

#Desktop {
  display: none;
}

#Taza {
  display: none;
}

/* Animation */
@keyframes show {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes tp {
  0% {
    transform: translate(100%, -30%);
    /*opacity: 10%;*/
  }
  10% {
    transform: translate(80%, -60%);
  }
  20% {
    transform: translate(30%, -80%);
  }
  40% {
    transform: translate(20%, -60%);
  }
  80% {
    transform: translate(0);
  }
  60% {
    transform: translate(-5%, 5%);
  }
}
