/* Responsive */

/* Responsive: Small Screen styles*/

@media only screen and (max-width: 1024px) {
  .background-logo {
    width: 30%;
  }
}

/* Responsive: Mobile styles*/

@media only screen and (max-width: 480px) {
  .background-logo {
    width: 60%;
  }
}

/*Responsive: Iphone*/

@media only screen and (max-width: 400px) {
  .background-logo {
    width: 60%;
  }

  .Home-Body {
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: space-around;
  }

  /*Image*/
  .Home-Body > .Container-Image > .Home-Image {
    width: 120%;
    height: 120%;
    translate: -8% 0;
  }

  /*Title and Icons*/
  .Home-Info > .Home-Title {
    align-items: center;
  }

  .Home-Title > h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
  }

  .Home-Title > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
  }

  .Home-Title > h1 > br {
    display: none;
  }

  .Home-Info > .home-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }

  .home-icons > a > img {
    width: 40px;
    height: 40px;
  }

  /*Slider*/
  .Slider {
    left: 95%;
    top: 50%;
    flex-direction: column;
    gap: 20px;
  }

  .Slider > a {
    width: 10px;
    height: 10px;
  }

  .Slider > .current-slider {
    animation: openVertical 0.5s ease-out forwards;
  }

  @keyframes openVertical {
    to {
      opacity: 1;
      height: 50px;
    }
  }

  /*DinamicText*/
  #dinamicText {
    height: 1.5em;
  }
}
