/*Frontend*/
.frontend > svg:hover {
  cursor: pointer;
  animation: reveal 0.3s forwards;
}

/*Backend*/
.backend > svg:hover {
  cursor: pointer;
  animation: reveal 0.3s forwards;
}

@keyframes reveal {
  to {
    filter: none;
  }
}
