@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Raleway:wght@400;500&display=swap");

h1,
h3,
p,
label,
button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #909090;
  text-shadow: 5px 5px 4px var(--shadow-black);
}
