.globalContainer {
  background: linear-gradient(
    254.82deg,
    #6d327c 0%,
    #484fd3 50.18%,
    #6c327c 100.35%
  );
  width: 100%;
  position: fixed;
  height: 100%;
  box-sizing: border-box;
}
