#globalContainer {
  width: 100%;
  position: fixed;
  height: 100%;
  box-sizing: border-box;
  background: var(--background);
  /*animation: first 34s ease infinite;*/
}

/*@keyframes first {*/
/*0% {*/
/*background: linear-gradient(*/
/*285.18deg,*/
/*#000000 0%,*/
/*#733d3d 50%,*/
/*#000000 100%*/
/*);*/
/*}*/
/*16% {*/
/*background: linear-gradient(*/
/*285.18deg,*/
/*#000000 0%,*/
/*#73733d 50%,*/
/*#000000 100%*/
/*);*/
/*}*/
/*33% {*/
/*background: linear-gradient(*/
/*285.18deg,*/
/*#000000 0%,*/
/*#3d733d 50%,*/
/*#000000 100%*/
/*);*/
/*}*/
/*49% {*/
/*background: linear-gradient(*/
/*285.18deg,*/
/*#000000 0%,*/
/*#3d7373 50%,*/
/*#000000 100%*/
/*);*/
/*}*/
/*66% {*/
/*background: linear-gradient(*/
/*285.18deg,*/
/*#000000 0%,*/
/*#3d3d73 50%,*/
/*#000000 100%*/
/*);*/
/*}*/
/*83% {*/
/*background: linear-gradient(*/
/*285.18deg,*/
/*#000000 0%,*/
/*#733d73 50%,*/
/*#000000 100%*/
/*);*/
/*}*/
/*100% {*/
/*background: linear-gradient(*/
/*285.18deg,*/
/*#000000 0%,*/
/*#733d3d 50%,*/
/*#000000 100%*/
/*);*/
/*}*/
/*}*/
