@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Raleway:wght@400;500&display=swap");

h1,
h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #e6e6e6;
  text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.03em;
}
